{% block subject %}{{ subject }}{% endblock %}

{% block body_text %}
    <h1>Hi {{ name }}!</h1>
    <p>Please, confirm your registration by clicking link below:</p>
    <p>
        <a data-href="{{ path('security_bundle.registration.confirm', {'confirmationToken' : confirmationToken}) }}">CONFIRM</a>
    </p>
{% endblock %}
